*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body(
    ::background-color:blck;
)
main{
    width: 100%;
    align-items:center;

    section.view1{
        width:100%;
        background-color: rgb(234, 13, 168);


    }
}
