*{
    font-family: 'helvetica nene';
}
html,body{
    height:100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    background-color: lightblue;
    padding:20px;
    display: fiex;
    gap: 30px;
    flex-wrap:wrap;
}
.card{
    height:300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow:5px, 10px, rgba(0, 0, 0, 0.269);
    padding:20px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items :center;
}
.card img{
    height: 100px;
    width: 100px;
    object-fit:cover;
    border-radius:50%;
}

.card h2{
    font-weight: 500;
    font-size: 26px;
}
.cord p{
    font-size: 14px;
    font-weight:600;
    color: #888;   
}