*{
    font-family: 'helvetica nene';
}
html,body{
    height:100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    background-color: lightblue;
    padding:20px;
    display: flex;
    gap: 30px;
    flex-wrap:wrap;
    overflow: auto;
}
.card{
    height:300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow:5px, 10px, 25px rgba(0, 0, 0, 0.26);
    padding:20px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items :center;
}
.card img{
    height: 100px;
    width: 100px;
    object-fit:cover;
    border-radius:50%;
}

.card h2{
    font-weight: 500;
    font-size: 26px;
}
.card p{
    font-size: 14px;
    font-weight:600;
    color: #888; 
    text-align: center;  
} 
.card button{
    border-radius:50px;
    background-color: rgba(42, 147, 245, 0.874);;
    color:white;
    padding: 10px 30px;
    border: 2px solid rgb(36, 182, 255);
    font-weight:700; 
}
.card button:hover{
    background-color: transparent;
    color: rgb(36,182,255);

}