*{
    height:100%;
    width:100%;
    margin:0;
    padding:0;

}
html,body{
    height: 100%;
    width:100%;
}

body{
    background-color: black;
}
h1{
    font-size:200px;
    color:transparent;
    text-align:center;
    -webkit-text-stroke: 2px rgb(246, 244, 244);
}    