*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#car1{
    position: relative;
    width:200px;
    height:300px;
    background-color: red;
}
#saml{
    position: absolute; 
    right: 50%; 
    width:20px;
    height:30px;
    background-color: yellow ;
}
#car2{
    position: absolute; 
    left: 50%; 
    width:200px;
    height:300px;
    background-color: green ;
}
#car3{
    width:200px;
    height:300px;
    background-color: blue;
}

html,body{
    height:100%;
    width:100%;
}

#homepage{
    height:100%;
    width:3000%;
    background-color: rgb(15, 3, 3);
}
#side{
    position: fixed; 
    right:0;top:50%;
    width:100px;
    height: 400px;
    background-color:pink;

}