* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  padding: 30px;
  background-color: rgb(1, 85, 85);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  height: 300px;
  width: 350px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bottom {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: -40%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: all 0.5s ease;
}

.card:hover .bottom {
  bottom: 0;
}

.bottom h3 {
  background-color: white;
  color: red;
  border-radius: 50%;
  padding: 7px;
}

.bottom h4 {
  font-size: 20px;
  font-weight: bold;
}
