@font-face {
    font-family: ap;
    src: url(./sf-pro-icons_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ap; 
}
html,body{
    height: 100%;
    width: 100%;

}

#main{
    width:100%;
    background-color: black;

}

#nav{
    height: 80px;
    width: 100%;
    background-color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px

}
#nav h4{
    color: white;
    font-weight: 300;

}


#center {
    height:80%;
    width:100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_small_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}

#center h1{
    color:white;
    font-size: 60px;
    font-weight: 600;
    font-family: ap;
}
#center h5{
    color:white;
    font-size: 40px;
    font-weight: 300;
}
#links{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    padding:20px;
}
#links button{
    background-color: royalblue;
    color:white;
    padding:13px 20px;
    border-radius:50px;
    border:none;
    font-weight: 400;
    border: none;
    font-size: 20px;
}