*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    height:100%;
    width:100;
    background-color: #111;
    color:white;
}

#main>h1{
    font-size: 300px;
    padding-left:70px;
    font-weight:400;
}

#nav{
    padding: 10px 30px;
}
#nav a{
    color: white;
    font-size:25px;
    margin-right:30px;
    text-decoration: none;
}

#btmletf{
    position: absolute;
    width: 300px;
    bottom:10%;
    left: 2%;
}
#btmletf h3{
    font-size: 30px;
    margin-top:30px;

}

#btmletf h4{
    margin-top:50px;
    font-size:30px;
}

#bottombar{
    padding: 30px 70px;
    width: 100%;
    position:absolute;
    padding-left: 10px;
    bottom:0;
    left:2%;
}

#main>img{
    height:350px;

}
#main #first{
    height: 250px;
    top: 40%;
    left: 55%;
}

#main #second{
    height: 350px;
    top: 40%;
    left: 55%;
}

#main #third{
    height:450px;
    top: 40%;
    left: 55%;
}
/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:flex-end;
} */
/*   => align-item: center, start, end 
     => justify_content: flex-end,flex-start,flex center, space_between, space_around space-evenly*/

/* #box1{
    height: 200px;
    width: 200px;
    background-color: red;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lightblue;
} */
