*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
   
}
html,
body{
    height: 100%;
    width: 100%;
}


main{
    height: 100%;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content:center; 
    background-color: black;

} 
.card p{
    text-align:center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card p span{
    font-weight: 800;
    color: rgb(4, 55, 207);
}

.card{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding:  40px;
    margin: 20px;
}
.outer{
    height:20px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(214, 212, 212);
}
.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

button{
    padding: 10px 20px;
    font-weight: 800;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(3, 143, 24);
    color: white;
    cursor: pointer;
    
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top:20px;
}
.bottom button:active{
    scale:0.95;
}
h2{
    font-size: 44px;
}