*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width : 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}



.card{
    height: 280px;
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius:10px;
    position: relative;

}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}
.card h2{
    font-size: 20px;
    text-align: center;
}

.card i{
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 50px;
    /* background-color: red; */
    color: rgb(248, 34, 34);
    opacity:0;
     background-color:url(https://img.freepik.com/premium-vector/orang-pink-portrait-gradient-background_631125-1570.jpg?semt=ais_items_boosted&w=740);
     background-size: cover;
     background-clip: text;
     -webkit-background-clip: text;
     /* color: transparent; */
     transform: translate(-50%,-50%) scale(0) rotate(-60deg);
     transition: all cubic-bezier(.62,.63,.67,1.29) 0.5s;

}