*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(117, 104, 104); */
}
body{
    background-color: rgb(144, 143, 142);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box{
    width: 300px;
    height: 300px;
    background-color: green;
    margin: 20px auto;
    border: 10px solid white; 
    border-radius: 10px;  
}
button{
    height: 60px;
    width: 90px;
    padding : 10px, 20px;
    background-color:rgb(242, 13, 13);
    color:white;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}
button:active{
    scale:0.95;
}