*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width : 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom:20px;
}
.card{
    height: 400px;
    width: 300px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius:10px;
    position: relative;

}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5%;
}
.card h3{
    font-size: 26px;
    white-space : nowrap;
}
.card h4{
    font-size:18px;
    margin-top: 15px;
    color: crimson;
    margin-bottom: 15px;
    white-space : nowrap;
}
.card p{
    font-size: 14px;

}