*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: rgb(18, 234, 18);
    font-size: 2rem
} 

