*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
} 
:root{
    --x: 400px;
    --y: 400px;
}
body{
    background-image: url(https://images.pexels.com/photos/4732661/pexels-photo-4732661.jpeg);
    background-size: cover;
}

.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(200px at var(--x) var(--y), rgba(255, 255, 255, 0.267), rgb(0, 0, 0));
} 

