* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    transition: 0.3s;
}


/* Navbar */

.navbar {
    height: 70px;
    padding: 0 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
    font-size: 24px;
}



#themeBtn {
    padding: 10px 18px;

    border: none;
    border-radius: 8px;

    background-color: #222;
    color: white;

    cursor: pointer;
    font-size: 15px;
}


/* Main */

main {
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Card */

.card {
    width: 400px;
    padding: 35px;

    background-color: white;
    border-radius: 15px;

    text-align: center;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
}

.card h1 {
    margin-bottom: 15px;
}

.card p {
    line-height: 1.6;
    margin-bottom: 25px;
}


/* Read More Button */

.readBtn {
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    background-color: #007bff;
    color: white;

    cursor: pointer;
}


/* =========================
   DARK MODE
   ========================= */

.dark {
    background-color: #181818;
    color: white;
}

.dark .navbar {
    background-color: #242424;
}

.dark .card {
    background-color: #242424;
    color: white;
}

.dark #themeBtn {
    background-color: white;
    color: #222;
}